@use "./Variables.scss" as *;

.aside-container {
  width: $aside-width;
  padding: 20px 10px 10px 50px;
  border-right: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: $nav-height;
  left: 0;

  &__back {
    color: $text-primary;
    font-size: 1.5rem;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
}
