@use "./Variables.scss" as *;

.recommended-container {
  color: $text-primary;
  margin-bottom: 25px;

  &__heading {
    font-size: 1.1rem;
    margin-bottom: 15px;
  }

  .channel-container {
    height: 360px;
    overflow: hidden;
  }

  .channel-container--expanded {
    height: fit-content;
  }

  &__expand {
    background: none;
    outline: none;
    border: none;
    color: $text-primary;
    cursor: pointer;
    font-size: 0.9rem;
  }
}
