@use "./Variables.scss" as *;

.searchbar {
  width: 100%;
  height: $nav-height;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $color-border;
  position: relative;

  &__search {
    width: 450px;
    height: 42px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: "Roboto", sans-serif;

    &__input {
      height: 100%;
      width: 88%;
      border: 1px solid #737272;
      background: #292828;
      color: $text-primary;
      font-size: 1rem;
      padding: 0 15px;
      font-weight: bold;
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
      outline: none;
      transition: 0.2s;

      &:focus {
        border: 1px solid lightgray;
      }
    }

    &::placeholder {
      color: #737272;
    }

    &__button {
      font-size: 1.5rem;
      color: gray;
      text-align: center;
      padding-top: 5px;
      background: #272626;
      height: 100%;
      width: 12%;
      border: none;
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
      cursor: pointer;
    }
  }

  .button-wrapper {
    position: absolute;
    right: 60px;

    &__button {
      font-family: "Play", sans-serif;
      font-size: 0.9rem;
      font-weight: 700;
      padding: 8px 5px;
      width: 75px;
      background: #00b4d8;
      color: $text-primary;
      border: none;
      margin-left: 8px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background: #4dcbe4;
        color: black;
      }
    }
  }
}
