// App

$app-bg: black;
$text-primary: white;
$text-secondary: lightgray;
$color-border: #515151;

//navbar
$nav-height: 55px;

//aside

$aside-width: 320px;

//responsive

@mixin for-phone-only {
  @media (max-width: 499px) {
    @content;
  }
}

@mixin for-big-phone-up {
  @media (min-width: 500px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 700px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1450px) {
    @content;
  }
}
